<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/checkoff.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  </head>
<body>
  <div class="container">

  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-5 buylist" ng-controller='ToBuyShoppingController as buyList'>
     <h2 class="listheader">To Buy</h2>
     <ul class="list-group">
       <li ng-repeat="item in buyList.items">
          {{ $index + 1 }}. {{ item.quantity }} of {{ item.name }}
          <button class="btn btn-default" ng-click="buyList.buyItem($index);"><span class="glyphicon glyphicon-ok"></span> Bought</button>
       </li>
     </ul>
     <div class="emptyMessage" ng-if="!buyList.items.length">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-5 buylist" ng-controller='AlreadyBoughtShoppingController as boughtList'>
     <h2 class="listheader">Already Bought</h2>
     <ul class="list-group">
       <li ng-repeat="item in boughtList.items">
         {{ $index + 1 }}. {{ item.quantity }} of {{ item.name }}
       </li>
     </ul>

     <div class="emptyMessage" ng-if="!boughtList.items.length">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
